body, html {
  margin: 0;
  padding: 0%;
  font-family: sans-serif;
  width: 100%;
  height: 100%;
}

.section-top {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-image: url("https://i.picsum.photos/id/1082/5416/3611.jpg?hmac=GrASx5oGYbTwT4xyJDYkurgXFFfgj37WHvaJNe8Sr1E");
  background-repeat: no-repeat;
  background-size: cover;
  animation: slide 12s infinite;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50%);
  text-transform: uppercase;
  text-align: center;
}

.content h1  {
  color: white;
  font-size: 60px;
  letter-spacing: 16px;
}

.content a {
  background: #333;
  padding: 10px 24px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  border-radius: 20px;
}

.content-q {
  position: absolute;
  top: 70%;
  left: 50%;
  font-size: 30px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
}

p {
  display: block;
  font-size: 20px;
  padding: 10px;
  line-height: 24px;
  margin: 0;
  max-width: 50%;
}

span.entry {
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

span.entry-one {
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


hr {
  border: none;
  border-top: 3px double #333;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;
}

hr:after {
  background: #fff;
  content: '';
  padding: 5 10px;
  position: relative;
  top: -13px;
}

#blogg {
  display: inline;
  font-size: 10px;
}

@keyframes slide {
  0% {
    background-image: url("https://i.picsum.photos/id/1082/5416/3611.jpg?hmac=GrASx5oGYbTwT4xyJDYkurgXFFfgj37WHvaJNe8Sr1E");
  }

  33% {
    background-image: url("https://i.picsum.photos/id/129/4910/3252.jpg?hmac=g1KzJMIp75lG_scR48R1baC6TjhVmkEyygSyngKYRsg");
  }

  67% {
    background-image: url("https://i.picsum.photos/id/155/3264/2176.jpg?hmac=Zgf_oGMJeg18XoKBFmJgp2DgHMRYuorXlDx5wLII9nU");
  }
}

#main-navigation {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;
}

#main-navigation li {
  list-style-type: none;
}

#main-navigation li:hover {
  background-color: #111;
}

#main-navigation a,
#main-navigation span {
  text-decoration: none;
  display: block;
}

#main-navigation > ul {
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}

#main-navigation > ul > li {
  float: left;
}

#main-navigation .menu-label{
  color: white;
  text-align: center;
  padding: 16px;
}

#main-navigation span.menu-label{
  cursor: default;
}


.menu-label:hover {
  background-color: #111;
}

.dropdown-parent {
  width: 150px;
}

.dropdown-parent:hover .dropdown-content {
  visibility: visible;
} 

.dropdown-content {
  visibility: hidden;
  position: absolute;
  background-color: #333;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,.2);
  z-index: 1;
  padding: 0;
  width: inherit;
}



.dropdown-content a {
  color: white;
  padding: 12px 16px;
}

.dropdown-content a:hover {
  background-color: black;
}


.fa {
  padding: 5px;
  font-size: 30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 4px;
  border-radius: 50%;
}


.text {
  font-size: 20px;
  text-align: center;
}

#main-navigation .icon-bar {
  position: relative;
  float: right;
  width: 260px;
  text-align: center;
  right: calc(50% - 130px);
}

#main-navigation .icon-bar a {
  display: inline-block;
  text-align: center;
  padding: 5px;
  transition: all 0.3 ease;
  color: white;
  font-size: 20px;
}

.facebook {
  background: #333;
  color: white;
}

.facebook:hover {
  background-color: #3b5998;
}

.twitter {
  background: #333;
  color: white;
}

.twitter:hover {
  background: #55ACEE;
}

.google {
  background: #333;
  color: white;
}

.google:hover {
  background: #dd4b39;
}

.linkedin {
  background: #333;
  color: white;
}

.linkedin:hover {
  background: #007bb5;
}

.youtube {
  background: #333;
  color: white;
}

.youtube:hover {
  background: #bb0000;
}

.frame {
  position: relative;

}

.box {
  position: relative;
  width: 200px;
  height: 200px;
  display: inline-block;
  border-radius: 8px;
  overflow: hidden;
  margin: 5px;
  border: 2px solid white;
  float: left;
}

img {
  width: 100%;
  transition: all linear 0.7s;
  object-fit: cover;
}

img.hover-img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.box:hover img {
  opacity: 0;
}

.box:hover img.hover-img {
  opacity: 1;
}


img.bibliotek {
  display: block;
  position: absolute;
  width: 30%;
  height: 30%;
  float: right;
  top: 145%;
  left: 60%;
}

img.bibliotek:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

img.wrongtext {
  display: block;
  position: absolute;
  width: 30%;
  height: 30%;
  float: right;
  top: 50%;
  left: 57%;
}

img.wrongtext:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}
.todo {
  font-size: 20px;
  list-style-type: square;
}

.profilepicture {
  position: absolute;
  right: 46%;
  top: 30%;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 5px solid;
  border-color: #333;

}

.profilepicture:hover {
  border: 5px solid;
  border-color: white;
  transition: ease-in-out 0.4;
  
}

.redalert {
  position: absolute;
  display: block;
  right: 0;
  width: 30%;
  top: 235%;
}

.jagfail {
  position: absolute;
  display: block;
  right: 0;
  width: 30%;
  top: 250%;
}

.redalert:hover {
  right: 20%;
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

.jagfail:hover {
  right: 20%;
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}